* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}
.container {
  width: 100%;
  height: 100%;
}
.header_background {
  background-image: url("../assignment 2 design/coffee-shop-html-template/img/carousel-1.jpg");
  background-size: cover;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: rgba(43, 21, 21, 0.7);
  width: 100%;
  height: 100vh;
  /* border: 2px solid green; */
}
.header .logo {
  font-size: 70px;
  font-family: sans-serif;
}
.nav_bar {
  /* border: 2px solid red; */
  font-weight: 700;
  height: fit-content;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.nav_list {
  /* border: 2px dashed #00f; */
  padding: 10px;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  align-items: center;
}
.nav_list li {
  /* border: 1px solid #f0f; */
  padding: 7px 25px;
  color: #fff;
}
li :hover {
  color: #da9f5b;
}
.nav_list li ul {
  height: 100px;
  position: absolute;
  display: none;
  border: 2px solid red;
}
.nav_list li:hover > ul {
  display: block;
}
.nav_list li .active {
  color: #da9f5b;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
  height: 100%;
}
.headings {
  /* border: 2px solid red; */
  width: fit-content;
  text-align: center;
}

.short_heading {
  color: #da9f5b;
  font-size: 40px;
  text-transform: capitalize;
}
.big_heading {
  font-size: 150px;
  color: #fff;
  font-family: sans-serif;
}
.cap_short_heading {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
}

section {
  width: 100%;
  /* border: 2px solid red; */
}
.section {
  width: 80%;
  margin: auto;
  padding: 70px 0px 70px;
  /* border: 2px solid blue; */
}
.mid_heading {
  font-size: 70px;
  text-align: center;
}
.section .cap_short_heading {
  color: #da9f5b;
}

.section .group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.text_content {
  flex: 1;
  /* border: 2px dashed red; */
}
.shortest_heading {
  font-size: 40px;
  font-weight: 800;
}
.group .text_content .about_button {
  padding: 10px 20px;
  outline: none;
  border: none;
  font-size: 20px;
}
.first .about_button {
  background-color: rgba(77, 6, 6);
  color: #fff;
}
.third .about_button {
  background-color: #da9f5b;
}
.section .about_img {
  height: 500px;
  width: 400px;
  object-fit: cover;
}

.service_div {
  display: flex;
  /* border: 2px solid #f0f; */
  height: 200px;
  width: 40%;
  margin: 20px 20px 20px 20px;
}
.service_div .text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.service_div .text h4 {
  font-size: 30px;
}
.service_div .text p {
  font-size: 20px;
  color: rgb(55, 55, 55);
}

.background {
  background-image: url("../assignment 2 design/coffee-shop-html-template/img/bg.jpg");
  background-size: cover;
}
.background_blur {
  background-color: rgba(43, 21, 21, 0.9);
}
.background_blur .overlay{
  width:fit-content;
  width:100%;
  margin-bottom: -10px;
}

/* offer */
.offer_div {
  padding: 30px 30px;
  /* border: 2px solid yellow; */
  width: 35%;
  margin: auto;
  text-align: center;
}
.offer_div .mid_heading,
.form_details .mid_heading {
  color: #da9f5b;
}
.offer_div .big_para {
  font-size: 25px;
  color: #fff;
}
.input_field {
  display: flex;
  justify-content: center;
}
.offer_input {
  padding: 20px 30px;
  margin: 20px 0px;
  outline: none;
  border: none;
  letter-spacing: 1px;
}
/* .offer_div .offer_input .text {
} */
.button {
  margin-left: -5px;
  background-color: #da9f5b;
}
.button:hover {
  background-color: #e28b27;
}
/* menu */
/* menu */
.menu_div {
  display: flex;
  flex-direction: column;
  /* border: 3px solid #f0f; */
  flex: 1;
  padding: 20px;
}
.hot_coffee_div {
  display: flex;
  flex-direction: column;
}
.hot_coffee_div_row {
  /* border: 2px solid blue; */
  display: flex;
  margin: 20px 0px;
}
.hot_coffee_div_row .text_box {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  /* border: 1px dashed red; */
}
.hot_coffee_div_row img {
  border-radius: 50%;
  width: 130px;
}
.text_box span {
  font-size: 40px;
}

.form_div {
  /* border: 2px solid #f0f; */
  display: flex;
  height: 500px;
  padding: 50px;
}
.form_div .form_details {
  flex: 1;
  /* border: 2px dashed #f00; */
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.form {
  background-color: rgba(43, 21, 21);
}
.form_details h3 {
  margin-bottom: 20px;
}
.form_details input {
  padding: 15px;
  border: 1px solid #da9f5b;
  background-color: rgba(43, 21, 21);
  margin: 10px 100px;
}
.form_details .button {
  margin: 10px 100px;
}

/* testimonials */
.client_profile {
  /* border: 2px solid blue; */
  display: flex;
  flex: 1;
  margin: 20px;
  flex-direction: column;
}
.client_profile .img_name {
  display: flex;
}
.img_name span {
  margin-left: 10px;
  font-size: 30px;
  font-weight: 800;
}
.company_contact {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.about_company {
  display: flex;
  flex-direction: column;
  width: 330px;
  padding: 10px;
  margin: 10px;
  /* border: 2px dashed #fff; */
  text-align: justify;
  color: #fff;
}
.about_company h1 {
  font-size: 28px;
  text-transform: uppercase;
}
.about_company p {
  font-size: 20px;
  padding: 10px;
}
.fa {
  margin-right: 5px;
  font-size: 24px;
}
.about_company .icons {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

/* .about_company .text {
   border: 2px solid yellow; 
}*/
.footer {
  border-top: 1px solid #fff;
  text-align: center;
  font-size: 26px;
  color: #fff;
  padding: 30px;
}
.footer span {
  color: #da9f5b;
}
